.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.button-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.button {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 2rem;
  width: 100%;
  margin: 2%;
}
