<nav class="navbar navbar-expand-lg navbar-dark background-dark">
    <div class="container-fluid">
        <img class="navbar-logo" src="./images/logo-financeX.png" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/despesas.php">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Investments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Financial Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Newsletter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-lg-0 nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link details" href="#"><i class="fa-regular fa-bell navbar-icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link details" href="#"><i class="fa-solid fa-user navbar-icon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
